.banner {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-block: 20px;
  overflow: hidden;
  position: relative;
  height: 300px;
  transition: 0.5s ease;
}

.banner-content {
  width: 30%;
  margin-inline: 10%;
}

.banner-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
  animation: reveal 1s ease;
}

.banner-content p {
  font-size: 16px;
  line-height: 1.6;
  animation: reveal 1.5s ease;
}

.banner-image {
  position: relative;
  bottom: -10%;
  margin-right: 10%;
  right: 0;
  overflow: hidden;
  border-radius: 20px;
  outline: 10px solid #edf0f4;
  animation: slideIn 1.5s ease;
}

.banner-image img {
  object-fit: cover;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scaleX(1.5);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    outline-color: transparent;
  }
  100% {
    transform: translateX(0);
    outline-offset: 2px;
  }
}

/* Search form container */
.search-form {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Filter dropdown */
.search-form select {
  padding: 8px;
  height: 40px;
  width: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  &:hover,
  &:focus {
    outline-color: #2a8bf3;
  }
}

/* Search input field */
.search-form input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 25px;
  width: 350px;
  &:hover {
    outline-offset: 2px;
    outline-color: #2a8bf3;
  }
  &:focus {
    outline-color: #2a8bf3;
  }
}

/* Search button */
.search-form button {
  padding: 8px 24px;
  border: none;
  height: 40px;
  margin-inline: 1%;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover,
  &:focus {
    outline-color: #2a8bf3;
    background-color: #0056b3;
  }
  &:active {
    background-color: #007bff;
  }
}
