html {
  scroll-behavior: smooth;
}

.banner {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-block: 20px;
  overflow: hidden;
  position: relative;
  height: 300px;
  transition: 0.5s ease;
}
.banner-content {
  width: 30%;
  margin-inline: 10%;
}

.banner-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
  animation: reveal 1s ease;
}

.banner-content p {
  font-size: 16px;
  line-height: 1.6;
  animation: reveal 1.5s ease;
}

.banner-image {
  position: relative;
  bottom: -10px;
  margin-right: 10px;
  right: 0;
  overflow: hidden;
  height: fit-content;
  border-radius: 20px;
  outline: 10px solid #edf0f4;
  animation: slideIn 1.5s ease;
}

.banner-image img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .banner {
    padding-inline: 40px;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    height: 70vw;
  }
  .banner-content {
    width: 95%;
    margin-inline: 10%;
  }
  .banner-content h1 {
    font-size: max(16px, 3vw);
    margin-bottom: 5px;
    animation: reveal 1s ease;
  }
  .banner-content p {
    font-size: max(10px, 2vw);
    line-height: 1.1;
    animation: reveal 1.5s ease;
  }
  .banner-image {
    min-width: 240px;
  }
  .banner-image img {
    min-width: 240px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scaleX(1.5);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    outline-color: transparent;
  }
  100% {
    transform: translateX(0);
    outline-offset: 2px;
  }
}

/* Search form container */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form select {
  padding: 8px;
  height: 40px;
  width: 15%;
  min-width: 150px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form select:hover,
.search-form select:focus {
  outline-color: #2a8bf3;
}
.search-form input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 25px;
  width: 50%;
  min-width: 120px;
}

.search-form input[type="text"]:hover {
  outline-offset: 2px;
  outline-color: #2a8bf3;
}

.search-form input[type="text"]:focus {
  outline-color: #2a8bf3;
}
button,
.search-form button {
  padding: 8px 24px;
  border: none;
  height: 40px;
  margin-inline: 1%;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button,
.search-form button:hover,
button,
.search-form button:focus {
  outline-color: #2a8bf3;
  background-color: #0056b3;
}

button,
.search-form button:active {
  background-color: #007bff;
}

.loader {
  display: block;
  color: #007bff;
  font-size: 45px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin-block: 30px;
  margin-inline: auto;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-form {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 100px;
  height: 50%;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}
.login-form h5 {
  text-align: center;
  margin-bottom: 20px;
  color: #bfbfbf;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  margin-left: 2%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.capsule-list {
  margin-block: 20px;
  padding-inline: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.capsule-card {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
